*{
    /*background-color: rgb(140, 202, 204);     */
    background: linear-gradient(to right, #2631b1, #69b495);
}

.box{
    display: grid;
    margin-top: 10rem;
    justify-content: center;
    grid-template-columns: repeat(5, 5rem);
    grid-template-rows: repeat(5, 5rem);
    color: orange;
}

.box button {
    color: rgb(75, 6, 236);
    background-color: rgb(121, 241, 9);
}

.box button:hover{
    background-color: green;
    font-size: 50px;
    color: red;
}

