*{
    background-color: rgb(194, 87, 17);  
    /*background-image: linear-gradient(to right, rgb(0, 255, 30) , rgb(221, 255, 0));*/
}

.box{
    display: grid;
    margin-top: 10rem;
    justify-content: center;
    grid-template-columns: repeat(5, 5rem);
    grid-template-rows: repeat(5, 5rem);
    color: orange;
}

.box button {
    color: rgb(75, 6, 236);
    background-color: rgb(139, 218, 20);
}

.box button:hover{
    background-color: green;
    font-size: 50px;
    color: red;
    position: relative;
    transition: 1s;
    transform: scale(2);
    
}

